[submodule "tests/unit/cmock"]
	path = tests/unit/cmock
	url = https://github.com/ThrowTheSwitch/CMock.git
[submodule "tests/unit/unity"]
	path = tests/unit/unity
	url = https://github.com/ThrowTheSwitch/Unity.git
[submodule "lib/isa-l"]
	path = lib/isa-l
	url = https://github.com/intel/isa-l.git
